 <html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <style>
.classed{
    filter: blur(6px);
}
     @media print {
         .scroll{
max-height: max-content !important;
width: fit-content;
overflow-y: hidden !important;
margin-right: 12px;
         }
        
         .dddd ,.dmdm{
display: none;
         }
         .rere{
             text-align: center;
         }
         .mmmm{
             -webkit-appearance: none;
         }
   
     } 
      .header {
          border-bottom: 1px solid darkgray;
          border-top: 1px solid rgb(29, 23, 23) ;
          padding: 10px;
          margin-top: 15px;
      }
            table ,tr,th,td{
margin: auto;
padding: 8px;
text-align: center;
font-size:20px;
border-collapse: collapse;
           }
.title{
    text-align: left;
}


          
            table th{
                border: 2px solid darkgrey;
                border-collapse: collapse;
                background-color:skyblue;
                color: black;
            }
           .td:nth-child(odd){

                background-color: #dddddd;
            }
            .lowstock {
                
                background: red;
                color: white;
                animation: blinkingtext 2s infinite;
            }
            @keyframes blinkingtext{
                0%  {background-color: white; color: black;}
                25% {background-color: red; color: white;}
                50% {background-color: white; color: black;}
                75% {background-color: red; color: white; }
                100% {background-color: white; color:black;}
            }

            .div1:hover, .div1.active{
color: red;
transition-duration: 0.3s;
cursor: pointer;
         }
 .fullbody{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
   table td{
       border: 1px solid darkgray;
   }
   .scroll{
       max-height: 88%;
       overflow-y: scroll;
   }.eee:hover{
       transition: 0.4s;
       background-color: rgb(164, 198, 226);
   }
   .ee:hover{
       transition: 0.4s;
       background-color: rgb(241, 156, 129);
   }
 
        </style>
        <title>Smart Billings</title>
        <link rel="shortcut icon" type="image/jpg" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAQIklEQVR4Xu1daZRUxRX+qrune7pnASEgoDgDA8hOFFAQJYjiLgox7iF4HFBjojkxihEjQR0jUbIYjQJD5BAXMIrBLSqyiCgQQcPusA/IIjgDDMz0dE93v5z7sHFoe/q9eku9annvnPkxp9+runXvV/feunXrFoPG037KVyUen783SyT6wMMGQMFAAIVa37m/O8KBGjAsRUJZpng8qxKx6Oqdt528JRMl
        rKkf2884WOKNJcoAXOfIUNxOreLA7LjPM37n6OZpgZAWAEXTqsczxh4CFL9VVLjtOMkBFlUU5eHKMS1oQh/3fAcAReXVaxjQ00ly3b7t4YACrK0sbdGrcevHAaB4etV8KGyoPd27rUrBAaYs2H5rywuStBwDQIep+4crHu9cKYh0ibCVAywRv2rb2FZvUCcqAEpmHm4dj0S3g7GgrT27jcvBAUUJewP+4i2jCvapACgqPzCNQSmVgzqXChEcUMDKK0tPGsM6Tq3pkvDEKkR06vYhFwc8Cd/prPgf1TcggZfkIs2lRggHPLiRdZh+4ElFUe4R0qHbiVQcYIxNZsXl1QsBDJGKMpcYURxY
        RACoAVAgqke3H6k4cJgAoEhFkkuMUA64ABDKbvk6cwEgn0yEUuQCQCi75evMBYB8MhFKkQsAoeyWrzMXAPLJRChFLgCEslu+zlwAyCcToRS5ADDB7t6tfChp5jnWQn0MWLyrAbUN2RNbkxoAnZt70a+ND31aeeH3MHgY4GVAQwI40qDg070xLNgpjuEXF+VgROcA+rb2onnAA9+3sj8GAhI9AaCiOo5XN0UxqyJiAmL2fyoVAPJyGG44PYDLOuSg80le0P9N5q1/wxsCw4aqGF6usI/ZY3rl4qauAZxW6NGkp7HICAw7ahJ4dlU9Zm+UEwhSAKBNngfj+gVxwWk5KPBriTz9rCBmr6uKo2x5
        HZbtiVkydUgDTRgYxIC2OarmMfoQSOdsiuD+JXVGm7DtO0cBQDP83n5BjOzkNyz4VM5UhRX8cUUYr5iccUNOzcGEgSEUF6bR8wbEEVeAuVuiuOfDWgNf2/eJYwA4o7UPDw0Iok8rH5da1cOKgxEFT64I48UvjKldmvlPnZ+Hri28errT/U4krqB8bUSlTZbHEQBc2yWA+/oF0TJoQq9qcHDn4QTuXlSLz/fxmQPSSlMuzMM57XIsByaRvKc2gd8srsUnu/nosgswwgFAztR9/YMoNGjr9TKCfIIFOxpQOu+I3k/U98afHcTo7rlpPXyuhpp4meh6Z1sUv1gghykQCgCyq384NwRy+kQ8dTEFT6wIY8Y6faaAzNLfzs/DKfn20vd1OIF7F9dh0ZcNItiQsQ9hAC
        DVOuPifPQ72Sd00BQruPbtw7r6fHRQSF2GUrzBziehAC9XRPDgx86vCoQB4I4+ubjrjFzkmllPGZBKXYOCxz8N458bMmsBAuicKwvQ5SR+x4+czuV7Ywh4gf4n+9T4hdaztiqOK/9N6ZjOPsIA8MrlBejfRuzsJ9aSzX1zS1R1CDM9l3Xwo2xQCM0D2sJr3E6qmdHr49ByddySWszf4awZEAIAEvxTQ/J02/5YAqAlU8DLLHHGNh6IY+Sbh
        zPG6H99ZhC398lFDqf5r6xJ4Jb3j2DbofgxXEy/KB9D2+dkBFw0DjyzKoynPq93VAUIAcCITn48ck5IUzXSrJixvh7Pr4uowiJnccKAEC48LccUEEhFj/+4TvW+m3oePy+E67oEuIWx6WAcF712vCrXCyYKD9//kbN+gBAAaDGE1DQ5a2Sr063by4flY+hpxtflembbtGH5KtB4n3QAuKrkKOC1wtof747h5v/oc1B56dL7vuMAqI8reKUiqoZvm9pGJYZOHBhCM077nGQCed0vbIhgwtKmZ9sLlxZgUDt+HyUdAM5p58PkH+WhTSizPak4EMclc5x1BIUA4LbeufjVmd9dAewPJ1QbSMLRel69ogB9TSwhtdStUQDsrU3grkW1qgZLPnoBkA48Wnyw+nchAKAAy1+H5KF9wdEZQbtjy/Y04JFlYRAT9DxPDs7Djzsbr1mlBQAKAF3Rkb99ykuYuLRO3fvnBcCXRxK4c0EtVu
        93LiwsBADEmAFtfbi02I/Kmjg+2hXTLfgkU7X8CC0QaQHAqBOYLqijVwPsrUuou4NO7gsIA4CWgLR+H9U9gHH9gwj5+NbpyXa1AHBP3yDIVPEuA6n97TUJjJ135BioXQBoSdPA73qXkk01rQUAMwBL3et3AWBAwFqfmAEALTNnfRHBAxli73qF1hSdNVEFf/7s6MaT3rZSTcDgU3NwY9cAigo8qjaheAjvdrYWH1N/zxoTYAYA5HQ+t6oef/oscyLGm1cXomdL/r2AJFMPRxU8s6oemw/GMencPM18hyQAth5K4IGzgrik2H+cCSLn8Ko37I0TZA0AzKhoitdP+jSMmeszLzcp1nBzN3O7gRTG3lAdR6fmHgQ1/JUtB+OYuzWKn3XLTQsWEcvErAGAmVUAzczffVKn5uRleihf4YnBIfwgyLkhwKt3v3mfVhCMfVOsMU0bLgAaMeWxQSFc3zVgKE2LZ7llNuxsEAtpP/toVwNGvcuX
        0cTbf9ZoAKOxemIIT8iVDn+UDdK237yM5n2fTEn52nrVdNn5ZA0AzISCeWcS+QI3dQuYOgtgVmi7jiTwy4X8Sa28/WYFAOgM3jND83CqgVw9PRtBqUyzOzNYS0gUV3hRY/NKqw29v2cFAIxm6xATKCVs4jL+gyJ2nQ3QEgzFLD7Z3YDbPqgVcsg0KwBAuYR39gnCb2CJnm63TksIyd9pE4vSxOiAiLEAtN6ejr5Hwv+iOo67F9Zy75Xw9fTt21kBADM7gSu/iuGat4wHU6zKStISEKl98lV+u6QOBFpRT1YAwGiEjmbUvzZGMM6CtCtKF6PMZt4TwnoESalw5PE/t1p8fqD0ANAbV0/HaMo2+stn9ZhiIWPpqPg1nf3o2MxrKk+R6KWZPmdzFH9fVS/E3qfjkfQAMBMCtjP1mpzE4SV+Nc+BThAX+j3cPorWDqUe7WH2HekBYCYCyBMAMstI+p6Wj6O7B/DzH+Zq5i3o3aCygq5MbUgPADMBoLe2RtVgishH756FnkxlEXRLDQAzASCnZpje1DLKgKYNqtc3Z96gshsEUgNAVvufSSgvXVaAgW2108v1HFaxW/jUvtQAMLM/r+c4mNUMJh9g7vAClDTXjljx7FBa
        TWfj9qQGgBn7/8GOBozhLA5hltFU5EpPJhD1I2KvX894pAWAWftPa//JK+3dSk1lcFMHYNIJ4oQ7Hq4HjY3fMWP/nbKvPEtW3i1qXv7pfV9aDWDG/qc7sq2XIWbe4zFZMgSBpHYCeZiZKjQnZhePyXJqiZo1oWAeZqYOilKpnl9Xj8f+K9b+85gsozkKZrRTU99KaQJ4mJk6MKeYO+m8EH7SRV/S6j46E7i4Dkt2OVseRloTwONMpQLATAKI0RlG6//Zlxegh85DJXQegA58yFBWXkoNYMb+m00AMQIC3pS1pXtiuPEd40kqRmjMGhNgZv+fBvnapqhailXkw1NfUM85RZG0S6cBzNh/J3bYeNW/HUkqZgAjHQB4nKnUgTsRAPpptwDup7oFOopDEr12JqkYAYJ0ADCa/0eDdyIARKVvrizx684aliUEnASLVAAwa/9FO4C89FqZpGpktksfCOLZTEk3GNEZQDzOH9Gr95i6VcLV045UGsCM/RcdAUytfKaH2U6YKC26pAKAmfW/aO/ayAFS0RpKS/hSRQJ5C0qnDk5kjh2v7VfVv86y9XqEZuU70mgAukdowgD9y6lUJoiMrxspIrH1UByl82qPqypupSCNtiUNAKhI0i
        09jN/VIyrHbnSPgHrVHU+9QpluCEkFijQAMFMBhAYlAgBGHD+i7VBEUQtVa9UoMjqLzXwnDQDeHVmI0w1c15IcvN0AMFM0gufeIjPCNPKtFAAw6wCK0ABU/p3K1vNeeUQ3n1BFdDoAKuMjBQDOPSUHkweH0Fqjvn4mBtqpASjWT7afrrDhfeh84h3z5XP+pAoFG1lWpQpCby1AXgGaEb6oSl+8Y2r8vhQawAoAWK1qyebT3cYjOgUMVRAnJqdWETcjKLu+/d4AgBhklbNF3j7NfPJN+JX+UVHR7KcLsMqWi01O5QWKFADo0MyL5y/KR5HJq9qtuJ379t65KO2ZvnYvD3Nlt/1S+QBEjNllYHJA5AtMXVOPp//H53VTNXIq/2JFRTDalyDP/1lJPX/pfAAiaOYl+TjvFP5r29LNSqq4ReXWZlVE1PP3TWXfUnFoWtqd3dan3lFoVN03poH2/Cnd2+4avzzaKNO7UpgAItDMUbBMAyRbTADYF04gngC8HqB18GgpdyN1B7UYT2npVOpNhpvBtWil36UBAFXemjAwhHyduXV6Bif6Hd7r6kXTl64/aQBAjmD5sDy1/Fo2Pqn3BmXLGKQBADHMTEaQkwwn4b9fGcW9i+ukOO3DwwupACD6xg4eRjX1btLpo3CvDEe9eMckFQCI+KeH5oGOWlnhkfMyg/d9mvkfftmAuxZmp/ClcgKTzDe6584rPLPv0xn/1zdH8PCypi+9NtuHiO+l0wA06Ju6BnBf/yAK/XLqAUrweHa1tTWIRQhb6lVAKnF0lWtprwByDWzB2sVMs
        vfrquIoW16HZXucu/DZyvFJqQGSA6SDInf0zkWzgPOagM70vVwREV55zEphZ5UGSBI7rCgHD5wVUjeKnIABefbzKhswaUVY6EUOdgs+2b7UGiBJJO3NUybu1SV+IdqAVP3uIwm8vS2q3t8r8gYPUYLPKgAkiaUNm1t6BHB5Bz/a5VurEUjo1WEFK/bF8PqmCN6rdL5+jwgwZIUGSMcIqiR2bRc/zmrjQ7s8j3o+X6+JIGGHYwq+DivYfCCuCv2DygZhFzWJEKzePrIWAOkGOLR9jmoi6NBGr1Ze+D0M0YSCNfvj6slcOqCxvip+Qgq6KUB8rwCgF/Xue99ywAXACY4GFwAuAKrJJ3KfE5QDrgY4QQWflXGAE1xWtgzf1QC2sDV7GnUBkD2ysoVSAsAhAIW2tO42KjsHaljx9Op3oeBi2Sl16bOBAwzvseJpVb8HYxNsaN5tUnYOKMpEVjT9wAimKHNkp9Wlz3oOKIyNZO2nfFXi9eZstr55t0XZORCPN3RSd1CLy6tnAbhOdoJd+izlwOztpS2uVwHQfsbBEm9MWQ8ofku7cBuTlAMsGvex7jtHN99yLIeiaFr1eMbwqKQUu2RZyAFFwYOVY1qUUZPHJdEUlVevYUBPC/tym5KMAwqwtr
        K0Ra8kWd/JoiqeXjUfChsqGd0uOVZwgCkLtt/a8oLGTaVNo+swdf9whXlmgbGgFf26bTjMAUUJMyVx/baxrd5IpaTJPMqSmYdbx6KxMgal1GHy3e5NcEABK/f5feO3jCrYl64Z
        zUTajlNruiR8sb5MYX0VRekLgP4KTNDkfmofB+g2ypWMsZUKU1Z6Yr6VW8cWbszU3f8BkSbAO2uq4HAAAAAASUVORK5CYII=">
    </head>
<body >
  <div id="shop" class="fullbody">
<div :class="{'classed':alerts}" >
<div class="dddd">
    <div class="header" >
        <img src="https://image.shutterstock.com/image-vector/drawing-sketch-lord-venkateshwara-balaji-600w-1728916228.jpg" width="43px" style="display: inline;position: relative;" height="43px" style="margin-left: 20px;" >
    </div>
        <div style="float: left; " >
        <div style="float: right; height:90%; border-right: 1.5px solid darkgray;"></div>
    <div style="margin-left: 20px;margin-top: 17px;" v-on:click="activeTab = 'bills'"   >
       
        <img width="28px" style="float: left;position: relative;top: 10px;" height="28px" src="https://img.icons8.com/fluent/48/000000/bill.png"/>
         <p style="float: left; margin-left: 6px;margin-bottom: 1px;"  :class="{active: activeTab == 'bills'}" class="div1">Bill Entry</p>
</div>
    
     <div style="margin-left: 20px;margin-top: 58px;"  class="mainss" v-on:click="activeTab = 'products'" >
         <img width="28px" style="float: left;position: relative;top: 9px;" height="28px" src="https://img.icons8.com/fluent/48/000000/product-documents.png"/>
         <p style="float: left; margin-left: 36px;margin-top: -14px;" :class="{active: activeTab == 'products'}" class="div1" >Manage Products</p>
    </div>
    <div style="margin-left: 22px;"  v-on:click="activeTab = 'product'" >
       <img width="28px" style="float: left;position: relative;top: 6px;" height="28px" class="fff" src="https://img.icons8.com/color/48/000000/add-property.png"/>
       <p style="float: left; margin-left: 7px;margin-top: 9px;" :class="{active: activeTab == 'product'}" class="div1" >Add Product</p>
    </div>
       <div style="margin-left: 20px;margin-top: 58px;"  v-on:click="activeTab = 'showmech'" >
         <img width="28px" style="float: left;position: relative;top: 45px;    left: -122px;" height="28px" src="https://img.icons8.com/color/50/000000/payment-history.png"/>
         <p style="float: left; margin-left: 36px;margin-top: 4px;" :class="{active: activeTab == 'showmech'}" class="div1" >pending Bills
             <p v-if="detail.length" style="float: left;    position: relative;top: -22px;left: 2px;background-color: lightcoral;color: white;width: 24px;border-radius: 13px;text-align: center;"> {{detail.length}}</p></p>
    </div>
</div>
    </div >

</div>



    <div  v-if="activeTab == 'products'" >
        <h1 style=" margin-left: 255px;">Manage Products</h1>
    <div style="overflow-y: scroll;max-height: 400px;" >

      <table class="table" style="width: 91%; " >
       <tr>
        <th> Product Name</th>
        <th>Serial code</th>
        <th>MRP</th>
        <th>Instock</th>
        <th>Sale Price</th>
        <th>Total stock price</th>
         <th>Actions</th>
    </tr>

       <tr class="td" v-for="(list,index) in list" >
        <td style="width: 270px;" class="title">{{list.title}}</td>
        <td >{{list.seriala}}</td>
        <td style="width: 60px;">{{list.Mrp}}</td>
        <td :class="{'lowstock': list.stock < 5}">{{list.stock}}</td>
        <td >{{list.pricev}}</td>
        <td>{{list.ttprice}}</td> 
        <td v-on:click="clears(index)"><img width="25px" height="25px" src="https://img.icons8.com/plasticine/100/000000/filled-trash.png"/></td>
       </tr>
      </table>
      <br>
      
    </div>
    <br>
    <div style="text-align: center;">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="22" height="22"
        viewBox="0 0 24 24"
        style=" fill:#000000;display: inline;position: relative;top: 7px;"><path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 
        16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 12 7.0058594 C 10.718253 7.0058594 9.4369556 7.4927318 8.4648438 8.4648438 C 6.5206197 
        10.409068 6.5206197 13.590932 8.4648438 15.535156 C 10.409068 17.47938 13.590932 17.47938 15.535156 15.535156 L 14.121094 14.121094 C 12.941318 15.30087 11.058682 15.30087 9.8789062 14.121094 C 8.6991302 12.941318 8.6991302 
        11.058682 9.8789062 9.8789062 C 11.058682 8.6991302 12.941318 8.6991302 14.121094 9.8789062 L 15.535156 8.4648438 C 14.563044 7.4927317 13.281747 7.0058594 12 7.0058594 z "></path></svg>
        <p style="display: inline;">copyright-2020 by Sri Venkateshwara Automobiles & spares - All Rights Reserved</p>
        <p>N.G.A complex kilpennathur,thiruvannamalai 604 601</p>
    </div>


    </div>


 
    <div v-if="activeTab == 'bills'" class="scroll" >


<div>
       <h1 style="margin-left:55px;" class="rere">
           Cash Memo
        </h1>
        <div class="dmdm">
        <button style="float:right;  margin-top:-41px; margin-right:270px;"  v-on:click="classe()">add Pending</button>
      <button style="float:right;  margin-top:-41px; margin-right:180px;" v-on:click="reset()">reset</button>
                           <button style="float:right;  margin-top:-41px; margin-right:93px;" v-on:click="prints()">print</button>
                        </div>
</div>
<div >
      <table style="width:90%;" class="rrrr" >

       <tr >
           <th>S.No</th>
           <th > Product Name</th>
           <th class="title ">Serial code</th>
           <th style="width:34px;">MRP</th>
           <th>Quantity</th>
           <th >Price</th>
       </tr>

       <tr v-for="(bill, index) in billings">
        <td>{{index+1}}</td>
        <td>
          <select style="border:0px; text-align: center;font-size: 20px; " class="mmmm" @change="selectProduct(bill, index)" v-model="bill.product"  >   
           <option v-for="list in list" :value="list.id" >{{list.title}}</option>   
          </select>
        </td>
        <td>{{bill.serial}}</td>
        <td >{{bill.mrp}}</td>
       
        <td> <input type="number" v-if="bill.product!=null" min="1" class="dhdh" @change="calculateprice(bill)"  v-model="bill.quantity" style="width: 55px; border:0px;text-align: center;font-size: 20;"></td>
        <td> <input type="number" readonly v-model="bill.price" style="border:0px;text-align: center;font-size: 20;"></td>

       </tr>  
       <tr>
        <td style="visibility:hidden"></td>
        <td style="visibility:hidden"></td>
        <td style="visibility:hidden"></td>
        <td style="visibility:hidden"></td>
        <td style="visibility:hidden"></td>
        <td>Total Amount:{{totalBillAmount}}</td>
       </tr>
       <tr>    
        <td style="visibility:hidden"></td>
        <td style="visibility:hidden"></td>
        <td style="visibility:hidden"></td>
        <td style="visibility:hidden"></td>
        <td style="visibility:hidden"></td>
        <td>you saved:{{discount}}</td>
       </tr>
       </table>
       </div>

<br>       
       <br>
    <div style="text-align: center;">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="22" height="22"
        viewBox="0 0 24 24"
        style=" fill:#000000;display: inline;position: relative;top: 7px;"><path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 
        16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 12 7.0058594 C 10.718253 7.0058594 9.4369556 7.4927318 8.4648438 8.4648438 C 6.5206197 
        10.409068 6.5206197 13.590932 8.4648438 15.535156 C 10.409068 17.47938 13.590932 17.47938 15.535156 15.535156 L 14.121094 14.121094 C 12.941318 15.30087 11.058682 15.30087 9.8789062 14.121094 C 8.6991302 12.941318 8.6991302 
        11.058682 9.8789062 9.8789062 C 11.058682 8.6991302 12.941318 8.6991302 14.121094 9.8789062 L 15.535156 8.4648438 C 14.563044 7.4927317 13.281747 7.0058594 12 7.0058594 z "></path></svg>
        <p style="display: inline;">copyright-2020 by Sri Venkateshwara Automobiles & spares - All Rights Reserved</p>
        <p>N.G.A complex kilpennathur,thiruvannamalai 604 601</p>
    </div>
    <br>
<br>
    </div>
    <div v-if="activeTab=='product'"  style="text-align: center;">
        
   <h1 >Enter the Product Details</h1>
    <div style="padding: 19px; ">
        Product Name:
        <input type="text"  v-model="name" style="margin-left: 34px;" >
        <p v-if="name==''" style="margin-left: 324px; margin-bottom: -19px;margin-top: 2px; font-size:13px; color: red;">* Please enter the product name</p>
    </div>
   
        <div style="padding: 19px; " >
        Serial Code:
        <input type="text" v-model="serial" style="margin-left: 54px;">
        <p v-if="serial==''"  style="margin-left: 337px;margin-bottom: -19px;margin-top: 2px;font-size: 13px;color: red;">* please enter the serial code</p>
    </div>
    <div style="padding: 19px;">
          MRP       :
          <input type="number" v-model="mrp" style="margin-left: 101px;">
          <p v-if="mrp==''"  style="margin-left: 339px;margin-bottom: -19px;margin-top: 2px;font-size:13px; color: red;">* please enter the MRP</p>
    
    </div>
    <div style="padding: 19px; ">
          stock Quantity:
          <input type="number" v-model="Quantity" style="margin-left: 31px;">
          <p v-if="Quantity==''"  style="margin-left: 329px;margin-bottom: -19px;margin-top: 2px;font-size: 13px;color: red;">* please enter the stock Quantity</p>
    </div>
    
    <div style="padding: 19px;">
          Price:
          <input type="number" v-model="price" style="margin-left: 100px;">
          <p v-if="price==''" style="margin-left: 325px;margin-bottom: -19px;margin-top: 2px;font-size:13px;color: red;">* please enter the price</p>

    
    <br>
    <br>
    </div>
    <div style="margin-left: 145px;"> 
          <button  v-on:click="functiona()" >Add To Cart</button>
          </div>
          <br>

          <br>
          <br>
          <div >
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="22" height="22"
              viewBox="0 0 24 24"
              style=" fill:#000000;display: inline;position: relative;top: 7px;"><path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 
              16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 12 7.0058594 C 10.718253 7.0058594 9.4369556 7.4927318 8.4648438 8.4648438 C 6.5206197 
              10.409068 6.5206197 13.590932 8.4648438 15.535156 C 10.409068 17.47938 13.590932 17.47938 15.535156 15.535156 L 14.121094 14.121094 C 12.941318 15.30087 11.058682 15.30087 9.8789062 14.121094 C 8.6991302 12.941318 8.6991302 
              11.058682 9.8789062 9.8789062 C 11.058682 8.6991302 12.941318 8.6991302 14.121094 9.8789062 L 15.535156 8.4648438 C 14.563044 7.4927317 13.281747 7.0058594 12 7.0058594 z "></path></svg>
              <p style="display: inline; text-align: center;">copyright-2020 by Sri Venkateshwara Automobiles & spares - All Rights Reserved
            </p><p>N.G.A complex kilpennathur,thiruvannamalai 604 601</p>
          </div>
</div>
<div v-if="activeTab=='showmech'">
    <h3 style="padding-top:11px;margin-left:244px;">
    </h3>
    <table style="margin-left: 482px;margin: auto;" v-if="detail.length">
        <tr>
            <th>Customer Name</th>
            <th>Cell  Number</th>
            <th>purchased amount</th>

            <th>purchased date</th>
            <th style="width: 125px;">actions</th>
        </tr>
        <tr v-for="(detail,index) in  detail">
            <td>{{detail.name}}</td>
            <td>{{detail.cnumber}}</td>
            <td>{{detail.sname}}</td>

            <td>{{detail.date}}</td>
            <td ><img width="28px" style="position: relative; right: 20px;" v-on:click="clearss(index)" height="28px" src="https://img.icons8.com/plasticine/100/000000/filled-trash.png"/>
                <img  width="28px" height="28px" style=" position: relative;left: 22px;"  v-on:click="adds(detail,index)"  src="https://img.icons8.com/color/48/000000/activity-history.png"/></td>
        </tr>
    
    </table>
<h1 v-if="detail.length==0  " style="    text-align: center;
margin-top: 168px; color: grey;
">No pending bills</h1>  
    <br>
          <br>
          <br>
          <div style="text-align: center; margin-top: 108px;">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="22" height="22"
              viewBox="0 0 24 24"
              style=" fill:#000000;display: inline;position: relative;top: 7px;"><path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 
              16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 12 7.0058594 C 10.718253 7.0058594 9.4369556 7.4927318 8.4648438 8.4648438 C 6.5206197 
              10.409068 6.5206197 13.590932 8.4648438 15.535156 C 10.409068 17.47938 13.590932 17.47938 15.535156 15.535156 L 14.121094 14.121094 C 12.941318 15.30087 11.058682 15.30087 9.8789062 14.121094 C 8.6991302 12.941318 8.6991302 
              11.058682 9.8789062 9.8789062 C 11.058682 8.6991302 12.941318 8.6991302 14.121094 9.8789062 L 15.535156 8.4648438 C 14.563044 7.4927317 13.281747 7.0058594 12 7.0058594 z "></path></svg>
              <p style="display: inline;">copyright-2020 by Sri Venkateshwara Automobiles & spares  - All Rights Reserved</p>
              <p>N.G.A complex kilpennathur,thiruvannamalai 604 601</p>
          </div>
        </div>

<div v-if="alert"  style="margin-left: 484px;  text-align: center;background-color:lightpink; position: fixed;width: 442px;height: 385px;border-radius: 50px; top: 105px    ;">
    <h1> Product details added in  list Successfully</h1>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_rQvUxg.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px; margin-left: 120px;"    autoplay></lottie-player>
    <button v-on:click="lists">OK</button>
</div>


<div v-if="addmech" style="margin-left: 484px; top:135px; text-align: center;background-color:rgb(11, 207, 142); position: fixed;width: 350px;height: 300px;border-radius: 35px;">
   
   <h2>enter Customer details</h2> 
   <div style="padding:1px;">customer name:
    <input type="text"v-model="names">
</div>
<div  style="padding:18px;margin-left:52px;"  >
    city:<input style="margin-left: 38px;" v-model="shop" placeholder="(optional)">

</div>
<div style="padding:18px;">
    Phone number:<input type="number" v-model="phone" style="margin-left:15px">

</div>
<br>
<br>
        <br> 
</ber>
<button v-on:click="close()" class="eee" style="
    float: right;
    width: 175px;
    height: 38px;
    font-size: 18px;
    border: 0px;
    font-family: unset;" >add</button>
<button v-on:click="uls()" class="ee" style="
    float: right;
    width: 175px;
    height: 38px;
     border: 0px;
    font-size: 18px;

    font-family: unset;">close</button>

</div>

<div v-if="clos"  style="margin-left: 484px;  text-align: center;background-color:darkslategrey; position: fixed;width: 442px;height: 385px;border-radius: 50px; top: 105px    ;">
    <h1 style="color: white;"> pending 
         bill was collected</h1>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_8EfvqQ.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px; margin-left: 120px;"    autoplay></lottie-player>
  <br>
  <br>
    <button v-on:click="main()">OK</button>
</div>

 

  </div>
</body>

<script src="shopvue.js"></script>
</html>